<div class="page-header">
<h1>ConnectMe</h1>
</div>
<p>Ready to Make a Connection?</p>
<p>Lets see who's available </p>
<p> Learn more about Nerium by <%= link_to "clicking here", "http://pash.neriumnextgen.com/", class: "btn btn-info" %> </p>